/* * {
  margin: 0;
  padding: 0;
} */

body {
  width: 20%;
}

body section {
  border: 1px solid #046cc9;
}

.card-img {
  text-align: center;
  background-color: #046cc9;
  max-width: 100%;
  height: 100%;
}

section p,
section h1 {
  margin: 20px;
}
section p {
font-size: large;
}

.links {
  display: inline-block;
}